*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul{
    text-align: center;
    margin-top: 30px;
}
li{
    padding: 15px 0 15px 0;
    font-weight:bolder;
}

#form-template{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border: 1px solid;
    box-shadow: 2px 5px 12px rgb(81, 105, 228);
    background-color: aliceblue;
}

#form-flex-container{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

#form-template fieldset > input{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: black;
     width: 250px;
     height: 40px;
     padding-left: 10px;
}

#read-checkbox{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: black;
     width: 30px;
     height: 30px;
     padding-left: 10px;
}

.read-checkbox-container{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}


.main-grid-layout{
    display: grid;  
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, max-content);

}

/* HEADER SECTION START */
.header{
    background-color: rgb(3, 70, 103);
    grid-column: 1 / 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    color: white;
}

.main-grid-layout .header > h1 {
    font-size: 3.5rem;
    margin-left: 3%;
}

.account-info-container{
    margin-right: 3%;
    text-align: center;
    display: flex;
    align-items: center;
}

.profile-icon{
    height: 50px;
    margin-right: .75rem;
    filter: invert(100%);
}

/* HEADER SECTION END */


/* TOOL SECTION START */
.tool-panel{
    grid-row:  2 / 6;
    color: black;
    background-color: #2d9fd9;
    padding: 20px;
    height: 90vh;

}

.tool-panel h1 {
    text-align: center;
}

#add-book-button{
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: .5px solid black;
    cursor: pointer;
    margin: auto;
    margin-bottom: 25px;
}

/* CSS */
#add-book-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  touch-action: manipulation;
}

#add-book-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


#search-library{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: black;
     width: 250px;
     height: 40px;
     padding-left: 10px;
}

.library-grid-container{
    grid-column: 2/6;
    grid-row: 2 / 6;
    
   
}
.library-grid-container-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(10rem, 1fr));
    column-gap: 1%;
    row-gap: 2%;
    padding: 10px;
    
    
}

.book-card{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: 1px solid;
    box-shadow: 2px 5px 12px rgb(80, 105, 228);
    padding: 10px;
    min-width: 150px;
    align-items: center;
    text-align: center;
}

.book-card > h3, p, button {
    padding: 0 0 6px 0;
    font-size: 1.2rem;
}

.book-card > h3 {
    text-align: center;
}



.form-buttons-container{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

#read-button, 
#remove-button,
.form-buttons-container > button[type="submit"],
.form-buttons-container > button[type="button"]      
 {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: white;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    padding: 5px;
   

}

#read-button, 
#remove-button{
    margin-bottom: 10px;
}




/* TOOL SECTION END */

@media (max-width: 690px){
    .search-filter-container{
        display: flex;
        justify-items: flex-start;
        
    }
}

@media (max-width: 647px){
    .library-grid-container-wrapper{
        row-gap: 1%;
    }
}