*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul{
    text-align: center;
    margin-top: 30px;
}
li{
    padding: 0 0 15px 0;
    font-weight:bolder;
}

:root{
    
}

.main-grid-layout{
    display: grid;  
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, max-content);
    
}

/* HEADER SECTION START */
.header{
    background-color: rgb(222, 224, 225);
    grid-column: 1 / 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.main-grid-layout .header > h1 {
    font-size: 3.5rem;
    margin-left: 3%;
}

.account-info-container{
    margin-right: 3%;
    text-align: center;
    display: flex;
    align-items: center;
}

.profile-icon{
    height: 50px;
    margin-right: .75rem;
}

/* HEADER SECTION END */


/* TOOL SECTION START */
.tool-panel{
    grid-row:  2 / 6;
    
    padding: 20px;
    height: 90vh;

}

.tool-panel h1 {
    text-align: center;
}

#add-book-button{
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: .5px solid black;
    cursor: pointer;
    margin: auto;
    margin-bottom: 25px;
}

#search-library{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: black;
     width: 250px;
     height: 40px;
     padding-left: 10px;
}

.library-grid-container{
    grid-column: 2/6;
    grid-row: 2 / 6;
   
}
.library-grid-container-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(10rem, 1fr));
    column-gap: 1%;
    row-gap: 2%;
    padding: 10px;
    
}

.book-card{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-left: 10px solid rgb(94, 3, 3);
    border: 1px solid;
    box-shadow: 2px 5px 12px rgb(80, 105, 228);
    padding: 10px;
    min-width: 150px;
}

.book-card > h3, p, button {
    padding: 0 0 6px 0;
    font-size: 1.2rem;
}

.book-card > h3 {
    text-align: center;
}


/* TOOL SECTION END */

@media (max-width: 690px){
    .search-filter-container{
        display: flex;
        justify-items: flex-start;
        
    }
}

@media (max-width: 647px){
    .library-grid-container-wrapper{
        row-gap: 1%;
    }
}